body {
  background-color: #CCC;
  margin:80px 80px 100px 100px;
}

div#fixedheader {
  position: relative;
  top:0px;
  left:0px;
  height:22vh;
  width:100%;
  color:#fff;
  background: #336699;
  padding:2%;
}

.sign-in, .sign-up{
  font-size: 2vh;
}
div#fixedfooter {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#336699;
  padding:8px;
}

.logo{
  padding:-15px;
  height: 13vh;
  width:14vw;
  display:inline;
}

.title{
  font-size: 6vmin;
  top: 5vh;
  left: 27vw;
}

.footer{
  text-align:center;
}

// .row.navmenu{
  // display:block;
// }
ul.topnav {
  float: right;
  list-style-type: none;
  overflow: hidden;
}

.custom-nav-menu{
  height: 5vh;
}

ul.topnav li {
  font-size: 3vh;
  display: inline;
}

ul.topnav li a {
  padding: 0.3vh 0.3vw;
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

ul.topnav li a:hover {
  background-color: #111;
}

ul.topnav li.icon {
  display: none;
  font-size:15px;
}