body {
  background-color: #CCC;
  margin:80px 80px 100px 100px;
}

div#fixedheader {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#ea5738;
  background:#333;
  padding:20px;
}

div#fixedfooter {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

.logo{
  padding:-15px;
  height:80px;
  width:150px;
  display:inline;
}

.title{
  float:left;
  font: bold 30px/40px Georgia, serif;
  display:inline;
}

.footer{
  text-align:center;
}

.row.navmenu{
  display:block;
  // float:right;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  display: inline;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: #111;
}

ul.topnav li.icon {
  display: none;
  font-size:15px;
}